<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>404 Error</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3vvmD3hptI8LUk4W77+7mG7l30kJrU"
			crossorigin="anonymous"
		/>
		<style>
			body {
				background-color: #000;
				color: #fff;
			}
			.error-container {
				height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			.error-text {
				font-size: 8rem;
				font-weight: bold;
			}
			.error-message {
				font-size: 2rem;
				margin-bottom: 2rem;
			}
		</style>
	</head>
	<body>
		<div class="error-container text-center">
			<div class="error-text">404</div>
			<div class="error-message">
				Cette page n'exispte pas ... ou plus.
			</div>
			<a href="/" class="btn btn-light">Go back home</a>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
			integrity="sha384-oBqDVmMz4fnFO9gybBud7l5eOAowJfajhczvt/9mgt+w2LkZXJ53CC5Qf47eXwOA"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
			integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
			crossorigin="anonymous"
		></script>
	</body>
</html>
