<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Connexion</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<style>
			body {
				background-color: #343a40;
				color: #fff;
			}
			.form-control {
				background-color: #212529;
				border-color: #6c757d;
				color: #fff;
			}
			.form-control:focus {
				border-color: #fff;
				box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="container text-center">
			<h1 class="my-5">Bienvenue sur PONG ONLINE</h1>
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<h1 class="text-center">Inscription</h1>
					<form method="POST" action="/back/controlers/registerC.js">
						<div class="form-group">
							<label for="username">Pseudo</label>
							<input
								type="text"
								class="form-control"
								id="username"
								name ="username"
								placeholder="Entrez votre pseudo"
							/>
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label>
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								placeholder="Entrez votre mot de passe"
							/>
						</div>
						<!-- <div class="form-group">
							<label for="confirm-password"
								>Confirmer le mot de passe</label
							>
							<input
								type="password"
								class="form-control"
								id="confirm-password"
								placeholder="Confirmez votre mot de passe"
							/>
						</div> -->
						<button
							type="submit"
							class="btn btn-primary btn-block"
						>
							Se connecter
						</button>
					</form>
										<br>
							<h4 class="text-center">Pas encore de compte ? <a href="/reg">Cliquez ici</a></h4>
				</div>
			</div>
		</div>
	</body>
</html>
