* {
	font-size: 1.5rem;
}

body {
	background-color: #333;
	color: #fff;
	padding: 1rem;
}

form {
	display: flex;
	justify-content: center;
	gap: 4px;
}

ul {
	display: flex;
	flex-flow: column;
	flex-basis: 50%;
	justify-content: left;
	list-style-type: none;

	/* flex-wrap: wrap; */
	padding: 1rem;
	margin: 1rem;
}

ul li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;
	background-color: #222;
}

ul li:nth-child(odd) {
	text-align: right;
	border-right: 1px solid #ccc;
	text-align: left;
	background-color: #04002d;
}

ul li:nth-child(even) {
	text-align: left;
	border-left: 1px solid #ccc;
	text-align: right;
	background-color: #002039;
}

ul input,
button {
	border-radius: 10px;
	padding: 10px;
}
